*{
    padding: 0;
    margin: 0 ;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}    
.animate{ 
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}
button{
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.button{
    position:relative;
    display:inline-block;
    margin:20px;
    z-index: 50;
  }
  
  .button a{
    color:rgb(255, 250, 250);
    font-family:Verdana;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#2bffd1;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #36bea1;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #36bea1;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #36bea1;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#00e7f7;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #63e7e7;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #63e7e7;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #63e7e7;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
